*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #000;
}

#string{
    /* background-color: red; */
    width: 100%;
  cursor: grabbing;
  cursor: -webkit-grabbing; /* for Safari */

    height: 200px;
}


svg path {
  stroke: white;
  stroke-width: 2; /* thickness */
  fill: transparent;
  width: 100%;
}
